<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ola.editor.kit">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application android:requestLegacyExternalStorage="true"
         android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity
            android:name=".OlaTemplateFeedActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="com.ola.editor.kit.process.OlaTemplateFeedActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 剪同款视频裁剪页 -->
        <activity
            android:theme="@style/Cut.Transparent"
            android:name=".cutsame.cut.videoedit.CutClipActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.ss.android.ugc.cut_ui.CLIP" />
            </intent-filter>
        </activity>
        <!-- 剪同款成品播放页 -->
        <activity
            android:name=".cutsame.cut.preview.CutPreviewPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Cut.Transparent"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.ss.android.ugc.cut_ui.PLAY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cutsame.cut.export.ExportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Cut.Transparent">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.ss.android.ugc.cut_ui.EXPORT" />
            </intent-filter>
        </activity>
    </application>

</manifest>