<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ss.ugc.android.editor.base"
    android:versionCode="1"
    android:versionName="4.7">

    <uses-sdk android:targetSdkVersion="28" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="com.ss.ugc.android.editor.picker.mediapicker.PickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/PickerImageTranslation"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>



</manifest>