<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ola.chat.picker">

    <application
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".GalleryCutPickerActivity"
            android:label="@string/picker_common_title_all"
            android:screenOrientation="portrait"
            android:theme="@style/Picker.Transparent_False">
            <intent-filter>
                <action android:name="com.ola.chat.picker.process.PICKER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--图片裁剪页面-->
        <activity
            android:name=".ImageCropActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:theme="@style/ImagePickerTheme">
            <intent-filter>
                <action android:name="com.ola.chat.picker.process.ImageCropActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 剪同款视频/图片压缩页 -->
        <activity
            android:name=".process.OlaCutCompressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Picker.Transparent">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.ola.chat.picker.COMPRESS" />
            </intent-filter>
        </activity>
    </application>
</manifest>